@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
/*home page*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.logo-image {
    height: 40px;
    width: 60px;
}

.background-vr-page {
    height: 100vh;
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png');
    background-size: cover;
}

#navitems1 {
    color: #323f4b;
    font-size: 20px;
}

#navitems2 {
    color: #323f4b;
    font-size: 20px;
}

#navitems3 {
    color: #323f4b;
    font-size: 20px;
}

#navitems4 {
    color: #323f4b;
    font-size: 20px;
}

.main-heading {
    color: #ffffff;
    font-size: 68px;

}

.custom-button {
    background-color: #1a2137;
    color: #ffffff;
    border-radius: 5px;
    border-width: 0px;
    height: 70px;
    width: 180px;
    margin-top: 10px;
    font-size: 25px;

}
/*features*/
.main-heading-features {
    color: #1f2933;
    font-family: "Roboto";
    font-weight: bold;
}

.image-features {
    height: 100PX;
    width: 75PX;
}

.sub-heading-features {
    color: #1f2933;
    font-size: 28px;
    font-family: "Roboto";

}

.main-para {
    color: #7b8794;
    font-family: "Roboto";
    font-size:19px;
}

.extra-style-interaction {
    color: #1f2933;
    font-style: italic;
    font-weight: bold;
}
.features-class:hover {
    background-color: #f9fbfe;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px #000000;
    
}
/*products*/
.main-vr-kit {
    background-color: #f9fbfe;
}

.vr-kit-heading {
    color: #1f2933;
    font-size: 28px;
    font-weight: bold;
    font-family: "Roboto";
}

.image-vrkit {
    height: 150px;
    width: 150px;
}

.main-para-vr-kit {
    color: #323f4b;
    font-size: 20px;
    font-family: "Roboto";
}
.vrkit-class:hover {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px #000000;
}